$success-color: rgb(182, 217, 113);
$siccess-hover-color: rgb(159, 194, 91);

.btn{
	border:none;
}

a{
	cursor: pointer;
}

.btn-success{
	background-color:$success-color;
	&:hover{
		background-color:$siccess-hover-color;
	}
}