$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'base';
@import 'modal';

@import 'editor';
@import 'page-terms';
@import 'page-lauchpad';
@import 'page-calendar';
@import 'page-new-project';
@import 'page-new-doc';
@import 'page-project';
@import 'page-message';
@import 'page-project-settings';


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:rgb(244,243,231);
}

.wrapper{
    width: 1080px;
 
    position: relative;
    .page{
        width: 960px;
        margin: 0 auto;
        min-height: 600px;
        opacity: 1;
        position: relative;
        .page-inner {
            padding: 1px 40px 40px;
        }
        h3 {
            font-size: 20px;
            font-family: "Helvetica Neue", Helvetica, Arial,"Microsoft Yahei","SimHei",Sans-serif;
            line-height: 28px;
            margin: 30px 0;
            color: rgb(132, 160, 153);
        }
        &.sheet-active{
            background-color: rgb(255, 255, 255);
            border-color: rgb(255, 255, 255);
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 0 5px rgba(0,0,0,0.15);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 5px rgba(0,0,0,0.3) \9;
        }
        h2 {
            font-size: 24px;
            font-family: "Helvetica Neue", Helvetica, Arial,"Microsoft Yahei","SimHei",Sans-serif;
            line-height: 24px;
            margin: 20px 0 50px 0;
            color: rgb(132, 160, 153);
            text-align: center;
        }
    }
}

.nav{
    &#navbar{
        li{
            a{
                color:rgb(153, 153, 153);
            }
            &.active{
                a{
                    color: rgb(255, 255, 255);
                    background-color: rgb(132, 160, 153);
                }
            }
        }
    }   
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 35px;
    padding-right: 35px;
}

/* Custom page header */
.header {
   
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    float: left;
    margin-right:50px
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.header{
    ul{
        list-style: none;
    }
    .navbar-form{
        position: relative;
       
        float: right;
    }
    .account-info{
        float:right;
        margin-top: 8px;
        padding-left: 0px;
        .fa{
            color: rgb(167, 192, 185);
        }
        .dropdown-menu{
            background: rgb(255, 255, 255);
            border: 1px solid rgb(204, 204, 204);
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            margin-top:15px;
        }
        .member-settings {
            float: left;
            margin: -1px 4px 0 0px;
            position: relative;
            .link-member-menu {
                display: inline;
                width: 28px;
                height: 28px;
                img{
                    &.avatar{
                        display: inline;
                        vertical-align: middle;
                        width: 26px;
                        height: 26px;
                        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                        -webkit-transition: box-shadow 0.1s ease-in-out;
                        -moz-transition: box-shadow 0.1s ease-in-out;
                        transition: box-shadow 0.1s ease-in-out;
                    }
                }
            }
        }
    }
}

.header .fa-search {
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 5;
    top: 6px;
    left: 24px;
    overflow: hidden;
    color: rgb(164, 164, 165);
}

.header .input-search {
    width: 80px;
    font-size: 12px;
    height: 20px;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px 10px 10px 28px;
    background: rgb(249, 250, 245);
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    -webkit-transition: width 150ms ease-in-out;
    -moz-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
    &.active {
        width: 110px;
        border: 1px solid rgb(167, 192, 185);
        background: rgb(255, 255, 255);
    }
}