.sheet {
	background: rgb(247, 248, 246);
	border: 1px solid rgb(219, 223, 214);
	top: 0;
}

.sheet .sheet-header .link-parent-sheet {
	display: block;
	padding: 0 30px;
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial,"Microsoft Yahei","SimHei",Sans-serif;
	line-height: 50px;
	color: rgb(66, 152, 186);
}