.page{
	&#page-project-show{
		padding: 0 40px 40px;
		 .project-links a {
			display: block;
			float: left;
			margin-left: 20px;
			line-height: 20px;
			font-size: 14px;
			color: rgb(153, 153, 153);
			opacity: .8;
			height: 20x;
			text-decoration: none;
			&:hover{
				color: rgb(119, 119, 119);
				opacity: 1;
			}
			.fa{
				margin-right:2px;
			}
		}
		.messages {
			margin: 0 0 30px;
			.message {
				padding-top: 10px;
				padding-bottom: 5px;
				padding-left: 124px;
				padding: 15px 64px 12px 126px;
				border-bottom: 1px solid rgb(221, 221, 221);
				position: relative;
				.avatar {
					display: block;
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					border-radius: 50%;
					-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
					-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
					position: absolute;
					left: 5px;
					width: 36px;
					height: 36px;
					top: 9px;
				}
				.name {
					top: 22px;
					left: 50px;
					width: 58px;
					font-size: 12px;
					line-height: 12px;
					text-align: center;
					position: absolute;
				}
				 .message-link {
					display: block;
					min-height: 40px;
					font-size: 14px;
					line-height: 16px;
					.message-title {
						display: block;
						color: rgb(51, 51, 51);
					}
					.message-content {
						margin-top: 3px;
						line-height: 1.2;
						display: block;
						color: rgb(153, 153, 153);
						margin: 6px 0 0 0;
						word-wrap: break-word;
					}
				}
				.time {
					display: block;
					font-size: 12px;
					line-height: 12px;
					color: rgb(170, 170, 170);
					position: absolute;
					top: 12px;
					right: 5px;
				}
				.comments-count {
					display: block;
					font-size: 11px;
					line-height: 12px;
					color: rgb(255, 255, 255);
					padding: 2px 8px;
					background: rgb(221, 221, 221);
					-moz-border-radius: 10px;
					-webkit-border-radius: 10px;
					border-radius: 10px;
					position: absolute;
					top: 30px;
					right: 5px;
				}
			}
		}
	}
}

.project-header{
	padding: 30px 2px 26px;
	background: url(/images/project-head-border.png) repeat-x 0 100%;
	.project-title {
		display: inline-block;
		max-width: 640px;
		margin-bottom: 10px;
		border-bottom: 1px solid rgba(0, 0, 0, 0);
		font-size: 28px;
		font-family: "Microsoft Yahei","SimHei",Helvetica,Arial;
		line-height: 28px;
		color: rgb(85, 85, 85);
		text-align: left;
	}
	.project-desc {
		border-bottom: 1px solid rgba(0, 0, 0, 0);
		font-size: 14px;
		color: rgb(102, 102, 102);
		line-height: 1.5;
		margin: 10px 0 0 0;
		text-align: left;
	}
}
.project-links {
	position: absolute;
	margin: 4px 0;
	top: 30px;
	right: 45px;
	overflow: hidden;
}

.init.init-discussion {
	background: url(/images/init-discussion.png) no-repeat 5px 15px;
	margin: 0;
	padding: 20px 60px 10px;
}

.init .title {
	font-size: 16px;
	color: rgb(153, 153, 153);
	line-height: 1.2;
}

.init .desc {
	font-size: 14px;
	color: rgb(170, 170, 170);
	line-height: 1.2;
	margin: 20px 0 0 0;
}

.init .desc a {
	margin: 0 5px;
}

.init.init-todo-completed, .init.init-todo-empty {
	background: url(/images/init-todo.png) no-repeat 5px 4px;
	margin: 0 0 20px 0;
	padding: 10px 50px 10px;
}

.init.init-docs {
	background: url(/images/init-document.png) no-repeat 7px 2px;
	margin: 20px 0;
	padding: 12px 50px 10px;

}

.init.init-file {
	background: url(/images/init-file.png) no-repeat 7px 2px;
	margin: 20px 0;
	padding: 12px 50px 10px;
}

.todos-all .todolists-wrap {
	float: left;
}

.todos-all .todolists-completed-wrap {
	clear: both;
	padding: 0 100px 0 0;
	.todolists-completed {
		color: rgb(136, 136, 119);
		word-wrap: break-word;
		h5 {
			color: rgb(85, 85, 85);
			font-size: 14px;
			display: inline-block;
			margin: 0 5px 0 0;
		}
		a {
			color: rgb(153, 153, 153);
			font-size: 12px;
			margin: 0 0 0 5px;
		}
	}
	.todo-history-link {
		margin-top: 10px;
		a {
			font-size: 12px;
		}
	}
}

.todolists {
	width: 630px;
	margin: 0 0 0 2px;
	.todolist {
		position: relative;
		margin: 0 0 20px 0;
		.actions {
			position: absolute;
			left: -95px;
			top: -1px;
			z-index: 95;
			width: 100px;
			display: none;
			.inr {
				float: right;
				padding: 2px 5px 2px 10px;
				background: rgb(255, 255, 255);
				border-radius: 10px 0 0 10px;
				-webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: -1px 0 1px rgba(0,0,0,0.2);
				box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2);
				a{
					color: rgb(167, 192, 185);	
					font-size:16px;
					float: right;
					width: 20px;
					&:hover{
						color:rgb(140, 170, 162);
					}
				}
			}
			
		}
		.todolist-auto-archive-tip {
	
			color: rgb(187, 187, 187);
			font-size: 12px;
		}
		.title {
			margin-bottom: 10px;
			&:hover{
				.actions {
					display: block;
				}
			}
			h4 {
				margin: 0 0 0 -10px;
				padding: 2px 0 0 10px;
				font-size: 16px;
				color: rgb(0, 0, 0);
				line-height: normal;
				.fa{
					color: rgb(153, 153, 153);
					padding-left:4px;
				}
				a {
					color: rgb(0, 0, 0);
					font-weight: bold;
				}
			}
			.actions {
				left: -105px;
			}
		}
		ul{
			list-style: none;
			padding: 0;
		}
		.todo {
			font-size: 15px;
			padding: 2px 5px 2px 10px;
			margin: 0 0 0 -10px;
			position: relative;
			&:hover{
				.actions {
					display: block;
				}
			}
			.todo-wrap {
				padding-left: 30px;
				line-height: 1.6;
				input[type="checkbox"] {
					font-size: 16px;
					vertical-align: middle;
					margin: -3px 5px 0 -23px;
				}
			}
			.runner {
				display: inline-block;
				margin-left: -3px;
				height: 0px;
				width: 0;
				line-height: 0px;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				transition-delay: 0.1s;
				-moz-transition-delay: 0.1s;
				-webkit-transition-delay: 0.1s;
				-o-transition-delay: 0.1s;
				img {
					width: 24px;
					height: 24px;
					opacity: 0;
					-webkit-transition: all 0.2s ease-in-out;
					-moz-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
					-webkit-transform: scale(0);
					-moz-transform: scale(0);
					transform: scale(0);
				}
				&.on {
					margin-left: 0;
					width: 24px;
					height: 16px;
					line-height: 24px;
					-webkit-transition: all 0.2s ease-in-out;
					-moz-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
					img {
						opacity: 1;
						-webkit-transition: all 0.2s ease-in-out;
						-moz-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						-webkit-transform: scale(1);
						-moz-transform: scale(1);
						transform: scale(1);
						transition-delay: 0.1s;
						-moz-transition-delay: 0.1s;
						-webkit-transition-delay: 0.1s;
						-o-transition-delay: 0.1s;
					}
				}
			}
			.todo-content {
				word-wrap: break-word;
				.raw {
					display: none !important;
				}
				span {
					display: none;
				}
				a {
					color: rgb(0, 0, 0);
				}
			}
			.label{
				display: inline-block;
				position: relative;
				top: -2px;
				margin: 0 0 0 5px;
				padding: 2px 6px 2px;
				line-height: 1;
				background: rgb(239, 239, 239);
				font-size: 12px;
				color: rgb(153, 153, 153);
				font-style: normal;
				vertical-align: middle;
				white-space: nowrap;
				word-break: keep-all;
				word-wrap: normal;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				border-radius: 10px;
				&.no-assign {
					display: inline-block;
					border: 1px solid rgb(238, 238, 238);
					padding: 3px 7px 3px;
					color: rgb(153, 153, 153);
					background: none;
				}
				&.todo-proj {
					display: none;
				}
			}
		}
		.todo-new-wrap {
			margin: 5px 0 0 0;
			.todo-form {
				padding: 0 0 0 30px;
				display: list-item;
				
				.btn-new-todo {
					font-size: 14px;
					background: none;
					color: rgb(66, 152, 186);
					padding-left: 0;
					padding-right: 0;
					border: none;
					box-shadow: none;
				}
				input[type="checkbox"] {
					font-size: 16px;
					vertical-align: top;
					margin: 4px 5px 0 -23px;
				}
				.todo-content {
					display: inline-block;
					width: 420px;
					line-height: 1.6;
					font-size: 15px;
					padding: 0;
					margin: 0;
					border: none;
					border-bottom: 1px dotted rgb(204, 204, 204);
					vertical-align: top;
					resize: none;
					-moz-border-radius: 0px;
					-webkit-border-radius: 0px;
					border-radius: 0px;
					overflow: hidden;
					word-wrap: break-word;
					resize: none;
					height: 24px;
					outline: none;
				}
				.todo-label {
					display: inline-block;
					margin: 2px 0 0 5px;
					padding: 2px 6px 2px;
					line-height: 1;
					font-size: 12px;
					color: rgb(153, 153, 153);
					border: 1px solid rgb(238, 238, 238);
					vertical-align: top;
					font-style: normal;
					outline: none;
					white-space: nowrap;
					word-break: keep-all;
					word-wrap: normal;
					-moz-border-radius: 10px;
					-webkit-border-radius: 10px;
					border-radius: 10px;
				}
				button {
					font-size: 14px;
					padding: 5px 8px;
				}
			}
		}
	}
}

