<div class="header" ng-controller="NavbarCtrl">
  <h3 class="text-muted">Open Tower</h3>
  <ul class="nav nav-pills pull-left" id='navbar'>
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}">{{item.title}}</a>
    </li>
  </ul>
  <ul class="account-info navbar-right">
    <li class="member-settings dropdown">
      <a class="link-member-menu" data-toggle="dropdown"> 
        <img class="avatar" src="/images/identicon.png">
        <i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu" role="menu">
          <li role="presentation"><a role="menuitem" tabindex="-1" >个人设置</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/#">切换团队</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">退出</a></li>
      </ul>
    </li>
  </ul>
  <form class="navbar-form navbar-right" role="form">
    <div class="form-group">
      <input type="text" placeholder="Email" class="form-control input-sm input-search">
    </div>
  </form>
  <div class="clearfix"></div>
</div>