<div ng-include="'partials/navbar'"></div>
<div class="page sheet sheet-root " >
	<div class="sheet-header">
		<a class="link-parent-sheet"  href="#" data-restore-position="true">熟悉Tower</a>
	</div>
	<div class="page sheet sheet-active">
		<div class="page-inner">
			<div class="doc-wrap">
				<form class="form form-edit-doc">
					<div class="doc-title-wrap">
						<div class="form-group">
							<textarea class="doc-title" placeholder="文档标题"></textarea>
						</div>
					</div>
					<div class="wmd-panel-wrap">
						<div class="form-group"></div>
					</div>
					<div class="save-btns-wrap">
						<div class="form-group "></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="footer">
  <p>@Code4Fun</p>
</div>
