<div ng-include="'partials/navbar'"></div>
<div class="page sheet-root sheet-active" id="page-project-show">
	<div class="project-header">
		<div class="project-hd-info">
			<span class="project-title" ng-bind='project.name'></span>
			<br>
			<span class="project-desc" ng-bind='project.info'></span>
		</div>
	</div>
	<div class="project-links">
		<a class="link-admin link-admin-members" title="成员管理"  style="display: none;">成员</a>
		<a  class="link-admin link-admin-settings" title="项目设置"  style="display: none;">设置</a>
		<a class="link-admin link-recap" title="查看项目的每日进展">进展</a>
		<a class="link-admin link-stat" title="项目数据统计" >统计</a>
	</div>
	<div class="section-messages">
		<h3 class="topics-head">
			<a class="title">讨论</a>
			<a class="btn btn-border btn-sm btn-new-discussion">发起新的讨论</a>
		</h3>
		<form class="form form-editor">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="话题">
			</div>
			<div class="form-group">
				<textarea tabindex="1" name="content" id="txt-content" placeholder="说点什么..."  style="display: none;"></textarea>
				<div class="editor-html editor-wrapper toolbar-enabled">
					<div class="editor-toolbar" style="top: 0px;">
						<ul>
							
							<li>
								<a tabindex="-1" unselectable="on" class="toolbar-item bold disable" title="加粗（Ctrl + b）">
									<span class="fa fa-bold"></span>
								</a>
							</li>
							
							<li>
								<a tabindex="-1" unselectable="on" class="toolbar-item underline disable"  title="下划线（Ctrl + u）" >
									<span class="fa fa-underline"></span>
								</a>
							</li>
							
							<li>
								<a tabindex="-1" unselectable="on" class="toolbar-item deleteline disable"  title="删除线">
									<span class="fa fa-strikethrough"></span>
								</a>
							</li>
							<li>
								<span class="separator"></span>
							</li>
							<li>
								<a tabindex="-1" unselectable="on" class="toolbar-item ol disable"  title="有序列表">
									<span class="fa fa-list-ol"></span>
								</a>
							</li>
							<li>
								<a tabindex="-1" unselectable="on" class="toolbar-item ul disable"  title="无序列表">
									<span class="fa fa-list-ul"></span>
								</a>
							</li>
							<li>
								<a tabindex="-1" unselectable="on" class="toolbar-item blockquote disable" title="引用">
									<span class="fa fa-quote-left"></span>
								</a>
							</li>
							<li>
								<a tabindex="-1" unselectable="on" class="toolbar-item code disable" title="代码">
									<span class="fa fa-code"></span>
								</a>
							</li>
							<li>
								<span class="separator"></span>
							</li>
						</ul>
					</div>
					<div class="editor-body" contenteditable="true" tabindex="1">
						<p>
							<br>
						</p>
					</div>
				</div>
			</div>
		</form>
	</div>
	<h3>
		<a class="title">任务</a>
		<a class="btn btn-border btn-sm btn-new-todolist">添加任务列表</a>
	</h3>
	<div class="todos-all"></div>
	<div class="section-docs">
		<h3>
			<a class="title" >文档</a>
		</h3>
	</div>
	<div class="section-files">
		<h3>
			<a class="title" >文件</a>
		</h3>
	</div>
	<div class="trash"></div>
</div>