<div ng-include="'partials/navbar'"></div>

<div class="page sheet-root" id="page-team-show">
  <h2>Hello Somebody, 这是你的项目</h2>
  <div class="projects">
    <div class="project" ng-repeat="project in projects">
      <a title="workspace" class="folder" ng-href="#/projects/{{ project._id }}">
        <span class="badge"></span>
      </a>
      <h6 class="name">
        <a title="workspace" ng-bind='project.name'></a>
      </h6>
      <p class="desc" ng-bind='project.info'></p>
    </div>
    <div class="project new">
        <a title="创建新项目" ng-href="#/terms/{{ termId }}/project/new" class="folder denied">
          <span class="badge"></span>
        </a>
      </div>
  </div>
</div>

<div class="footer">
  <p>@Code4Fun</p>
</div>
