<div ng-include="'partials/navbar'"></div>
<div class="page sheet-root sheet-active" id="page-project-show">
	<div class="project-header">
		<div class="project-hd-info">
			<span class="project-title" ng-bind='project.name'></span>
			<br>
			<span class="project-desc" ng-bind='project.info'></span>
		</div>
	</div>
	<div class="project-links">
		<a class="link-admin link-admin-members" title="成员管理" ><i class="fa fa-users"></i>成员</a>
		<a class="link-admin link-admin-settings" title="项目设置"><i class="fa fa-cog"></i>设置</a>
		<a class="link-admin link-recap" title="查看项目的每日进展"><i class="fa fa-align-left"></i>进展</a>
		<a class="link-admin link-stat" title="项目数据统计" ><i class="fa fa-bar-chart-o"></i>统计</a>
	</div>
	<div class="section-messages">
		<h3 class="topics-head">
			<a class="title">讨论</a>
			<a class="btn btn-border btn-sm btn-new-discussion" ng-click="showNewDissuss=!showNewDissuss">发起新的讨论</a>
		</h3>
		<form class="form form-editor" name="form" ng-show="showNewDissuss">
			<div class="form-group">
				<input type="text" ng-model='discuss.title' class="form-control" placeholder="话题" required>
			</div>
			<div class="form-group">
				<div class="editor-html editor-wrapper toolbar-enabled">
					<div class="editor-toolbar" style="top: 0px;">
						<ul>
							<li><a tabindex="-1" unselectable="on" class="toolbar-item bold disable" title="加粗（Ctrl + b）"><span class="fa fa-bold"></span></a></li>
							<li><a tabindex="-1" unselectable="on" class="toolbar-item underline disable"  title="下划线（Ctrl + u）" ><span class="fa fa-underline"></span></a></li>
							<li><a tabindex="-1" unselectable="on" class="toolbar-item deleteline disable"  title="删除线"><span class="fa fa-strikethrough"></span></a></li>
							<li><span class="separator"></span></li>
							<li><a tabindex="-1" unselectable="on" class="toolbar-item ol disable"  title="有序列表">
									<span class="fa fa-list-ol"></span></a></li>
							<li><a tabindex="-1" unselectable="on" class="toolbar-item ul disable"  title="无序列表">
									<span class="fa fa-list-ul"></span></a></li>
							<li><a tabindex="-1" unselectable="on" class="toolbar-item blockquote disable" title="引用">
									<span class="fa fa-quote-left"></span></a></li>
							<li><a tabindex="-1" unselectable="on" class="toolbar-item code disable" title="代码">
									<span class="fa fa-code"></span></a></li>
							<li><span class="separator"></span></li>
						</ul>
					</div>
					<div contenteditable class="editor-body" ng-model='discuss.content' strip-br="true" required>
					</div>
				</div>
			</div>
			<div class="form-group">
          		<button type="submit" class="btn btn-create-todolist btn-success" ng-disabled="form.$invalid" ng-click='newDiscuss(discuss)'>发起讨论</button>
          		<a class="btn" ng-click="showNewDissuss=false">取消</a>
			</div>
		</form>
		<div class="init init-discussion" ng-show="!discusses.length">
			<div class="title">还没有人发起讨论</div>
			
		</div>
		<div class="messages">
			<div class="message" ng-repeat='discuss in discusses'>
				<a><img class="avatar" ng-src="{{ discuss.author | avatar}}"></a>
				<div class="name">
					<a ng-bind="discuss.author.username"></a>
				</div>
				<a class="message-link" ng-href="#/projects/{{ projectId }}/messages/{{ discuss._id }}">
					<span class="message-title">
						Title: {{ discuss.title }} 
					</span>
					<span class="message-content" contenteditable='false'>
			        	{{ discuss.content }}
					</span>
				</a>
				<span class="time" title="{{ discuss.create_at }}">{{ discuss.create_at | date:'MM月dd日'}}</span>
				<a class="comments-count">
					0
				</a>
			</div>
		</div>
	</div>

	<div class="section-tasks">
		<h3>
			<a class="title">任务</a>
			<a class="btn btn-border btn-sm btn-new-todolist" ng-click="showNewTask=!showNewTask">添加任务列表</a>
		</h3>
		<form class='form form-editor' ng-show='showNewTask' name="form2">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="给任务列表起个名字" required ng-model="tasklist.name">
			</div>
			<div class="form-group">
	          <button type="submit" class="btn btn-create-todolist btn-success" ng-disabled="form2.$invalid" ng-click="newTask(tasklist)">保存，开始添加任务</button>
	          <a class="btn" ng-click="showNewTask=false">取消</a>
			</div>
		</form>
		<div class="init init-todo-empty" ng-show="!tasks.length">
			<div class="title">没有需要处理的任务</div>
		</div>
		<div class="todos-all">
			<div class="todolists-wrap">
				<div class="todolists ui-sortable">
					<div class="todolist" ng-repeat="task in tasks">
						<div class="title" ng-show="!task.editing">
							<div class="todolist-actions actions">
								<div class="inr">
									<a title="编辑任务列表" ng-click="toggleEditTask($index)"><i class="fa fa-pencil-square-o"></i></a>
									<a title="删除任务列表" ng-really-message="确认删除任务列表?" ng-really-click="removeTask($index)"><i class="fa fa-trash-o"></i></a>
									<div class="clearfix"></div>
								</div>
							</div>
							<h4>
								<a ng-bind="task.name"></a>
								<a><i class="fa fa-angle-down"></i></a>
							</h4>
						</div>
						<div class="todolist-form edit" ng-show="task.editing">
						    <form class="form" name="form3">
						    	<div class="form-group">
									<input type="text" class="form-control" ng-model="task.name" placeholder="给任务列表起个名字" required>
								</div>
						        <div class="form-group">
						          <button type="submit" class="btn btn-success" ng-disabled="form3.$invalid" ng-click="updateTask(task)">保存</button>
						          <a class="btn" ng-click="toggleEditTask($index)">取消</a>
								</div>
							</form>
						</div>
						<p class="todolist-auto-archive-tip" ng-show="false">恭喜，任务都已完成：）</p>
						<ul class="todos">
							<li class="todo" ng-repeat="todo in task.todos">
								<div class="todo-actions actions">
									<div class="inr">
										<a title="标记成正在进行中"><i class="fa fa-play"></i></a>
										<a title="暂停" ng-show="todo.run"><i class="fa fa-pause"></i></a>
										<a title="编辑" ng-show="!todo.run"><i class="fa fa-pencil-square-o"></i></a>
										<a title="删除" ng-really-message="确认删除任务?" ng-really-click="removeTodo(todo)"><i class="fa fa-trash-o"></i></a>
									</div>
								</div>
								<div class="todo-wrap">
									<input type="checkbox" name="todo-done">
									<span class="todo-content">
										<a ng-bind="todo.content"></a>
									</span>
									<a class="label todo-assign-due no-assign">未指派</a>
								</div>
							</li>
						</ul>
						<ul class="todo-new-wrap">
							<li class="todo-form" ng-show="!task.addTodoing">
								<a type="button" class="" ng-click="toggkeTodoView($index)">添加新任务</a>
							</li>
							<li class="todo-form new" ng-show="task.addTodoing">
								<div class="form" ng-form="form4">
									<div class="form-group">
										<input type="checkbox" disabled="">
										<textarea class="todo-content" placeholder="新的任务" ng-model="_todo.content" required></textarea>
										<a class="todo-label">
											<span class="assignee">未指派</span> ·
											<span class="due">没有截止时间</span>
										</a>
									</div>
									<div class="form-group">
								          <button type="submit" class="btn btn-success" ng-click="newTodo($index, _todo)" ng-disabled="form4.$invalid">添加任务</button>
								          <a class="btn" ng-click="toggkeTodoView($index)">取消</a>
									</div>
									
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="section-docs">
		<h3>
			<a class="title" >文档</a>
			<a class="btn btn-border btn-sm btn-new-doc" href="#/projects/{{ projectId }}/docs/new">创建新文档</a>
		</h3>
		<div class="init init-docs">
			<div class="title">还没有在线文档</div>
			</div>
		</div>
	<div class="section-files">
		<h3>
			<a class="title" >文件</a>
			<a class="btn btn-border btn-sm btn-new-file">上传文件</a>
		</h3>
		<div class="init init-file">
			<div class="title">还没有人上传过文件</div>
		</div>
	</div>
	<div class="trash"></div>
</div>